# PLEASE KEEP THIS FILE ALPHABETICAL WITHIN SECTIONS

# Development
# black==24.4.2
pytest==8.3.1
pytest-cov==5.0.0
pytest-mock==3.14.0
# pylint==3.2.6
ruff==0.5.6

# Application
fastapi==0.111.1
pandas==2.2.2
